html {
  background-image: url("so-white.png");
}

header {
  background-color: burlywood;
  border: 10px black;
  padding: 1px;
  text-align: center;
  font-weight: bold;
}

nav ul {
  display: inline-block;
  margin-right: 10px;
}

h2 {
  font-style: italic;
}

.present-page {
  text-decoration: underline;
}
